################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/INFSY566/FileContentIndex
/.vs/INFSY566/v17
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
