################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/INFSY566/FileContentIndex
/.vs/INFSY566/v17
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/project566/FileContentIndex/8af0c3e8-0478-46f5-9308-5c54b692216f.vsidx
/.vs/project566/FileContentIndex/read.lock
/.vs/project566/FileContentIndex/378cfe0f-1bb1-4f43-87f0-64e2f8fe5c2a.vsidx
/.vs/project566/FileContentIndex/db504769-dad9-4791-86f4-13d08821f7bf.vsidx
/.vs/project566/v17/.suo
/.vs/project566/FileContentIndex
